<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8"/>
       <title>Entendo a estrutura e semântica do HTML5</title>
   </head>
   <body>
       <h1>CREATE A PRODUCT</h1>

       <form method="POST" id="form_id" action="/admin/products">
           <label>Nome do Produto</label>
           <input>
           <br>
           <label>Tipo</label>
           <input>
           <br>
           <label>Vendedor</label>
           <input>
           <br>
           <button type="submit" onclick=send()>SEND</button>
       </form>
   </body>
</html>